{% load blog_tags %}
{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Mon Blog</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- <link rel="preload" href="style.css" as="style"> -->

		<link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static "assets/font-awesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "assets/ionicons-2.0.1/css/ionicons.min.css" %}">
		<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/popup.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/loader.css" %}">
	</head>
	
	<body id="topSection">
	
		<div class="loader_bg">
			<div class="loader"></div>
		</div>


		<!-- Menu -->
		<nav id="menu">
			<h2 class="pt-2">Personal Challenge</h2>
			<ul style="font-size: 1.7rem;">
				<li>
					<p>
					{% comment %}<a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a>{% endcomment %}
					</p>
				</li>
				<li><P><hr>Total d'articles sur le site: {% total_posts %}<hr></P></li>
				<li><a href="{% url 'blog:post_list' %}#about">A propos</a></li><hr>
				<li><a href="{% url 'blog:post_list' %}#latest">Articles les récents</a></li><hr>
				<li><a href="{% url 'blog:post_list' %}#mostcom">Articles les plus commentés</a></li><hr>
				<li><a href="{% url 'blog:post_list' %}#oldest">Articles les plus anciens</a></li><hr>
				<li>
					<div style="display: flex;padding: 0 25%;">
						<span style="margin: 0 2rem 0 0;">
							<a href="https://www.facebook.com/Personal-Challenge-105016684823138"><i class="fa fa-facebook"></i></a>
						</span>
						<span style="margin: 0 2rem 0 0;">
							<a href="https://www.instagram.com/personalchallenge7/"><i class="fa fa-instagram"></i></a>
						</span>
						<span style="margin: 0 2rem 0 0;">
							<a href="#copy"><i class="fa fa-twitter"></i></a>
						</span>
					</div>
				</li>
			</ul>
		</nav>

    <section class="container breadcumb-area bg-img bg-overlay" style="height:30rem;margin-bottom:4rem;background: url('/static/images/cover.jpg');background-size:cover;background-repeat:no-repeat">
			<div class="bradcumbContent" style="padding:4rem;">
				<div class="inner">
					<a href="#menu" class="nav-bars">
						<img src="{% static "images/nav_icon.svg" %}" class="img-responsive" alt="Collapsable Navbar">
					</a>
				</div>
				<a href="{% url 'blog:post_list' %}"><h1 style="margin-top: 4rem;">Personal Challenge</h1></a>
      </div>
		</section>

		<!-- Search form -->
		<div class="container">
			<div class="md-form mt-0">
				<form action="{% url 'blog:search' %}" method="GET">
					<input type="text" class="form-control search-pad" placeholder="Rechercher..." aria-label="Search" name="search_term">
				</form>
			</div>
		</div>

		<div style="background-color:#5f5f5f;position:fixed;border-radius:.5rem;right:30px;bottom:30px;z-index:99;padding:0 .5rem">
			<a href="#" id="back-to-top"><i style="color:#fff" class="fa fa-angle-up fa-3x" aria-hidden="true"></i> </a>
		</div>
    {% block content %}

    {% endblock %}
		<!-- Footer -->
		<footer id="copy" class="bg-color" style="height: 7rem;">
			<div class="copy">
				Copyright © <b>Personnal Challenge</b><br> by <b>Kaiser Styve</b>
			</div> 
		</footer>
		
		<!-- Scripts -->
		<script src="{% static "assets/js/jquery-3.1.0.min.js" %}"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/jquery.magnific-popup.min.js" %}"></script>
		<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>

		<script src="{% static "assets/js/script.js" %}"></script>
		<script src="{% static "assets/js/popup.js" %}"></script>
		
		<!--  ===== Scroll to Top ====  -->
		<script>
			if ($('#back-to-top').length) {
			    $('#back-to-top').on('click', function (e) {
			        e.preventDefault();
			        $('html,body').animate({
			            scrollTop: 0
			        }, 700);
			    });
			}
		</script>

		<script>
			setTimeout(function(){
				$(".loader_bg").remove();
			}, 2000);
		</script>
		
	</body>
</html>